@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Quicksand:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background: #2b2b2b;
  background: linear-gradient(180deg, #2b2b2b 0%, #030303 30%);
}

main {
  width: 100%;
  height: 95vh;
  margin: 2.5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.heading {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fefcfb;
}
.heading__span {
  display: block;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
}

.text {
  width: 80vw;
  height: 30vh;
  max-height: 450px;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  margin: 1rem;
  color: #fefcfb;
  box-shadow: 0 0 10px #c7c7c7;
  background: #770000;
  background: linear-gradient(180deg, #770000 0%, #390000 75%);
}
.text:focus {
  background: #77000097;
  outline: none !important;
}

/* ----- BUTTONS STYLING ----- */
.output {
  position: relative;
}
.output__copy {
  position: absolute;
  bottom: 30px;
  right: 40px;
  padding: 10px;
  background: #353535;
  border: none;
  opacity: 0.6;
  border-radius: 5px;
  color: #ebebeb;
  cursor: pointer;
}
.output__play-sound {
  position: absolute;
  background: url("./media/play-button.svg");
  height: 40px;
  width: 40px;
  left: 40px;
  border-radius: 50px;
  bottom: 30px;
  cursor: pointer;
  display: none;
  opacity: 0.6;
}
.output__copy:hover, .output__play-sound:hover {
  opacity: 1;
}

/* ----- MEDIA ----- */
@media (prefers-color-scheme: light) {
  body {
    background: #bcbcbc;
    background: linear-gradient(180deg, #d4d4d4 0%, #ababab 52%);
  }

  .heading {
    color: #252525;
  }

  .text {
    background: #33bbff;
    background: linear-gradient(180deg, #33bbff 0%, #007a9f 80%);
  }
  .text:focus {
    background: #0b6490c3;
  }
}
@media screen and (orientation: landscape) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    height: 100vh;
    margin: auto;
    justify-items: center;
    align-content: space-evenly;
  }

  .heading {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .heading__span {
    display: inline-block;
    padding: 0.5rem;
  }

  .text {
    width: 35vw;
    max-width: 600px;
  }
}
@media screen and (orientation: landscape) and (min-width: 850px) {
  .heading {
    font-size: 3rem;
  }
}